/* Resetear estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de colores */
:root {
    --gris: #dbd8d8;
    --gris-oscuro: #c2c1c6;
    --verde: #1f8714;
    --azul: #2c5edd;
    --amarillo: #fef305;
    --amarillo-boton: #fdee31;
    --rojo: #e42014;
    --morado: #8e2487;
}

/* Propiedades de body */
body {
    margin: 16px 217px;
    text-align: center;
    font-family: sans-serif;
}

/* Propiedades de la caja gris */
.cajagris {
    max-width: 0 auto;
    padding: 19px 52px;
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
}

/* Propiedades de la cabecera */
header {
    padding: 25px;
    background-color: var(--verde);
    margin-bottom: 15px;
}

/* Propiedades del H1 */
h1 {
    color: #fff;
    font-size: 44px;
}

/* Propiedades del contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
}

.barralateral {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 35px 26px 319px 26px;
    background-color: var(--azul);
}

.botonlateral {
    background-color: var(--amarillo-boton);
    border: none;
    padding: 12px 42px;
    border-radius: 90px;
    font-size: 18px;
    font-weight: bold;
}

.cajaroja {
    display: flex;
    flex-direction: column;
    width: 590px;
    background-color: var(--rojo);
}

.contendortarjetas {
    padding: 17px;
    display: flex;
    justify-content: space-between;
}

.tarjeta {
    padding: 85px 89px;
    background-color: var(--amarillo);
}

.cajamorada {
    padding: 5px;
    background-color: var(--morado);
}

.lineagris {
    padding: 5px;
    background-color: var(--gris-oscuro);
}